/*====Importing components====*/
@import "top-nav.css";
@import "left-nav.css";
@import "content.css";
@import "footer.css";

/*====OVERALL STYLES=====*/

/*Reset paddings and margins, set primary font*/
*
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.clear
{
    clear: both;
}
body
{

}
