/*====TOP NAV STYLES====*/
.top-nav
{
    background: #023a5c;
    width: 100%;
    height: 80px;
    display: flex;
    font-size: 20px;
    justify-content: center;
}
.logo
{
    width: 188px;
    height: 136px;
}

/* Nav item in top nav*/
.nav-item
{
    display: inline-flex;
    margin: 0 20px;
}
.nav-link
{
    text-decoration: none;
    color: white;
    transition: all .1s;
    line-height: 80px;
}
.nav-link:hover
{
    cursor: pointer;
    text-decoration: underline;
}

/* Block with input field and looping glass*/
.searchBar
{
    display: flex;
    height: 80px;
    line-height: 21px;
    font-size: 21px;
    position: absolute;
    align-items: center;
    right: 0;
}

/* Input field, primary hidden*/
.searchInput
{
    display: none;
}

/* Input field when is showed by JS toggleInput function*/
.active-search-field
{
    display: flex;
    height: 35px;
    border-radius: 2px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: solid 1px transparent;
    outline: none;
    background: rgba(255,255,255,0.3);
    animation: show .3s ease;
    font-size: 18px;
    padding-left: 10px;
    color: white;
    transition: all .15s ease;
}
.active-search-field:focus
{
    border-bottom: solid 1px white;
}
.searchLoop
{
    margin: auto 20px auto 10px;
    cursor: pointer;
}



